<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pay My Buddy - Login</title>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>

<body>
    <div class="main-frame border">
        <h1 class="title">Pay My Buddy</h1>
        <p th:if="${param.success}">
            You successfully registered. Please use your credentials to log in.
        </p>
        <p th:if="*{param.passwordChanged}">
            Your password has been modified successfully. Please log in again.
        </p>
        <form th:action="@{/login}" method="post">
            <label for="email"></label>
            <input id="email" name="email" type="email" placeholder="Email" required/>
            <label for="password"></label>
            <input id="password" name="password" type="password" placeholder="Password" required/>
            <div class="remember-me">
                <input type="checkbox" id="remember-me" name="remember-me">
                <label for="remember-me">Remember me</label>
            </div>
            <input class="button" type="submit" value="Login">
        </form>
        <p>Don't have an account yet? <a href="/register">Register here</a></p>
        <p class="error" th:if="${param.error}">Invalid email or password.</p>
    </div>
</body>
</html>