<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pay My Buddy - Profile</title>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/breadcrumb.css}"/>
    <link rel="stylesheet" th:href="@{/css/profile.css}"/>
</head>
<body>
    <div th:insert="~{fragments/navbar :: navbar}"></div>
    <div class="breadcrumb-container">
        <div th:insert="~{fragments/breadcrumb :: breadcrumb}"></div>
    </div>

    <h1 th:text="${currentUser.firstName} + ' ' + ${currentUser.lastName}"></h1>

    <div class="tabs-container">
        <div>
            <ul class="tabs">
                <li class="active" data-tab="user-info"><a href="#user-info" onclick="showTab('user-info')">User Account</a></li>
                <li data-tab="buddies"><a href="#buddies" onclick="showTab('buddies')">Buddies</a></li>
                <li data-tab="bank-accounts"><a href="#bank-accounts" onclick="showTab('bank-accounts')">Bank Accounts</a></li>
            </ul>
        </div>

        <div id="user-info" class="tab-content">
            <h3>User Information</h3>
            <form th:action="@{/profile/update-profile}" th:object="${profileUpdateDTO}" method="post">
                <p>First name:
                    <strong><span id="firstNameText" class="editable-text" th:text="${currentUser.firstName}"></span></strong>
                    <label for="firstNameInput"></label>
                    <input type="text" id="firstNameInput" name="firstNameInput" class="editable-input" th:placeholder="${currentUser.firstName}" style="display:none">
                    <button class="editable-button" type="button" onclick="toggleEdit('firstName')">Edit</button>
                </p>
                <p>Last name:
                    <strong><span id="lastNameText" class="editable-text" th:text="${currentUser.lastName}"></span></strong>
                    <label for="lastNameInput"></label>
                    <input type="text" id="lastNameInput" name="lastNameInput" class="editable-input" th:placeholder="${currentUser.lastName}" style="display:none">
                    <button class="editable-button" type="button" onclick="toggleEdit('lastName')">Edit</button>
                </p>
                <p>Email: <strong><span th:text="${currentUser.email}"></span></strong></p>
                <button class="submit-button" type="submit">Save changes</button>
            </form>

            <h3>Change Password</h3>
            <form th:action="@{/profile/update-password}" th:object="${passwordUpdateDTO}" method="post">
                <p class="password-field">
                    <label for="currentPassword">Current Password:</label>
                    <input class="input-field" type="password" id="currentPassword" name="currentPassword" required>
                </p>
                <p class="password-field">
                    <label for="newPassword">New Password:</label>
                    <input class="input-field" type="password" id="newPassword" name="newPassword" required>
                </p>
                <p class="password-field">
                    <label for="confirmPassword">Confirm New Password:</label>
                    <input class="input-field" type="password" id="confirmPassword" name="confirmPassword" required>
                </p>
                <button class="submit-button" type="submit">Change Password</button>
                <div th:if="${errorMessage}" class="alert-danger" role="alert">
                    <p th:text="${errorMessage}"></p>
                </div>
            </form>
        </div>

        <div id="buddies" class="tab-content" style="display: none;">
            <h3>Your Buddies</h3>
            <div class="buddies-wrapper">
                <div id="buddies-container" class="scrollable">
                    <div class="buddy" th:each="buddy : ${buddies}"
                         th:text="${buddy.firstName} + ' ' + ${buddy.lastName}"
                         th:attr="data-email=${buddy.email}"
                         th:onclick="'selectBuddy(this)'">
                    </div>
                </div>
                <div id="buddy-details">
                    <p id="selected-buddy-name"></p>
                    <p id="selected-buddy-email"></p>
                    <form th:action="@{/profile/remove-buddy}" id="remove-buddy-form" method="post" style="display: none;">
                        <input type="hidden" name="buddyEmail" id="buddy-email-input">
                        <button  class="submit-button" type="submit">Remove Buddy</button>
                    </form>
                </div>
            </div>

            <form th:action="@{/profile/add-buddy}" id="add-buddy-form" method="post">
                <p class="buddy-email-field">
                    <label for="email">Email:</label>
                    <input class="input-field" type="email" id="email" name="email" required>
                </p>
                <button class="submit-button" type="submit">Add Buddy</button>
            </form>
        </div>

        <div id="bank-accounts" class="tab-content" style="display: none;">
            <h3>Bank Transaction</h3>
            <div id="bank-transaction-container">
                <form th:action="@{/transactions/bank-transaction}" th:object="${bankTransactionRequestDTO}" method="post">
                    <p class="bank-accounts-fields">
                        <label for="bankAccount"></label>
                        <select id="bankAccount" name="id" required>
                            <option value="" disabled selected>Select Bank Account</option>
                            <option th:each="account: ${bankAccounts}"
                                    th:value="${account.id}"
                                    th:text="${account.accountType + ' - ' + account.bankName}">
                            </option>
                        </select>

                        <label for="description"></label>
                        <input type="text" id="description" name="description" placeholder="Description">

                        <label for="type"></label>
                        <select id="type" name="type" required>
                            <option value="" disabled selected>Select Transaction Type</option>
                            <option value="DEPOSIT">Deposit</option>
                            <option value="WITHDRAWAL">Withdrawal</option>
                        </select>

                        <label for="amount">Amount:</label>
                        <input type="number" id="amount" name="amount" step="0.01" th:min="0" placeholder="0€" required>

                        <label for="feeCheckbox">You pay the fee:</label>
                        <input type="checkbox", id="feeCheckbox" name="feePaidBySender" checked>
                    </p>

                    <button class="submit-button" type="submit">Proceed</button>
                </form>
            </div>
            <h3>Add Bank Account</h3>
            <div id="add-bank-container">
                <form th:action="@{/profile/add-bank-account}" th:object="${bankAccountRegisterDTO}" method="post">
                    <p class="bank-accounts-fields">
                        <label for="accountType"></label>
                        <input type="text" id="accountType" name="accountType" placeholder="Account Type" required>

                        <label for="accountNumber"></label>
                        <input type="text" id="accountNumber" name="accountNumber" placeholder="Account Number" required>

                        <label for="iban"></label>
                        <input type="text" id="iban" name="iban" placeholder="IBAN" required>

                        <label for="bic"></label>
                        <input type="text" id="bic" name="bic" placeholder="BIC" required>

                        <label for="bankName"></label>
                        <input type="text" id="bankName" name="bankName" placeholder="Bank Name" required>
                    </p>

                    <button class="submit-button" type="submit">Add Bank Account</button>
                </form>
            </div>
            <h3>Remove Bank Account</h3>
            <div id="remove-bank-container">
                <form th:action="@{/profile/remove-bank-account}" method="post">
                    <p class="remove-bank">
                        <label for="account"></label>
                        <select id="account" name="iban" required>
                            <option value="" disabled selected>Select Bank Account</option>
                            <option
                                    th:each="account : ${bankAccounts}"
                                    th:value="${account.iban}"
                                    th:text="${account.accountType + ' - ' + account.bankName}">
                            </option>
                        </select>
                        <button class="submit-button" type="submit">Remove Bank Account</button>
                    </p>
                </form>
            </div>
        </div>

    </div>

    <script th:src="@{/js/profile-tabs.js}" type="text/javascript"></script>
</body>
</html>

