<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pay My Buddy - Profile</title>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/breadcrumb.css}"/>
</head>
<body>
    <div th:insert="~{fragments/navbar :: navbar}"></div>
    <div class="breadcrumb-container">
        <div th:insert="~{fragments/breadcrumb :: breadcrumb}"></div>
    </div>

    <h1 th:text="'Profile of ' + ${currentUser.firstName} + ' ' + ${currentUser.lastName}"></h1>
    <div>
        <p>Your balance: <span th:text="${currentUser.balance}"></span></p>
    </div>

    <div>
        <ul>
            <li><a href="#user-info">User Information</a></li>
            <li><a href="#buddies">Your Buddies</a></li>
            <li><a href="#bank-accounts">Your Bank Accounts</a></li>
        </ul>
    </div>

    <div id="user-info">
        <h2>User Information</h2>
        <p>First name: <span th:text="${currentUser.firstName}"></span></p>
        <p>Last name: <span th:text="${currentUser.lastName}"></span></p>
        <p>Email: <span th:text="${currentUser.email}"></span></p>

        <form th:action="@{/profile}" th:object="${profileUpdateDTO}" method="post">
            <h2>Change Password</h2>
            <label for="currentPassword">Current Password:</label>
            <input type="password" id="currentPassword" name="currentPassword" required>

            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" name="newPassword" required>

            <label for="confirmPassword">Confirm New Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>

            <button type="submit">Change Password</button>
            <div th:if="${errorMessage}" class="alert-danger" role="alert">
                <p th:text="${errorMessage}"></p>
            </div>
        </form>
    </div>

    <div id="buddies">
        <!-- Contenu de l'onglet Your Buddies -->
    </div>

    <div id="bank-accounts">
        <!-- Contenu de l'onglet Your Bank Accounts -->
    </div>

</body>
</html>